* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;    
    min-height: 100vh;
}
h1 {
    color: #c69504;
}
p {
    color:#fff;
}
.navbar-container .navbar {
    display: flex;
    background: white;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0000004e;
    /* position: fixed; */
    width: 100%;
    z-index: 9999;
}

.navbar-container .navbar-title {
    margin: 20px 0px;
    text-align: center;
}

.navbar-container .navbar-title a {
    color: #AE8201;
    text-decoration: none;
}

.navbar-container .navbar-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-container .navbar-links li {
    font-size: 18px;
    margin: 16px 8px;
}

.navbar-container .navbar-links li a {
    padding: 0.3em 0.8em;
    border-radius: 5px;
    text-decoration: none;
    color: #c69504c9;
    transition: background 0.3s ease;
}

.navbar-container .navbar-links li a:hover {
    color: #c69504;
    background: #d9a3029f;
}

.header {
    margin-left: 10px;
}

.img-section {
    background: linear-gradient(rgba(0, 0, 0, 0.477), rgba(0, 0, 0, 0.427)), url("../Images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    z-index: 2;
}

.align {
    text-align: center;
    margin: 20px auto;
}

.btn {
    padding: 10px;
    margin: 20px 10px;
    font-size: 16px;
    cursor: pointer;
    background: #AE8201;
    transition: all 0.3s ease;
    border: 2px solid #daa401;
    border-radius: 3px;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background: #c69504;
    color: white;
    transform: scale(1.05);
    border-radius: 3px;
}

/* Recommendations Section */
.gallery h1 {
    margin: 10px 10px;
    text-align: center;
    color: #AE8201;
}

.gallery h4 {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1300px;
}

.gallery-item {
    width: 220px;
    text-align: left;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.gallery-item h3 {
    font-size: 1.5rem;
    color: #b8860b; 
    margin: 10px 0px;
}

.gallery-item h3 a {
    color: #b8860b; 
    text-decoration: none;
}

.gallery-item p {
    text-align: left;
    padding: 0;
    font-size: 0.95rem;
    color: #555;
    margin: 10px 0 0;
}

.footer {
    background-color: rgba(255, 239, 213, 0.436);
    border-top: 2px solid #0000004e;
    min-height: 30vh;
    
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footerLeft {
    flex: 1;
    max-width: 40%;
}

.footerRight {
    flex: 1;
    max-width: 20%;
}

.footer h4 {
    font-size: 1.7rem;
    padding: 10px;
    color: #AE8201; 
}

.footer h6 {
    padding: 10px;
    word-spacing: 3px;
}

.footer p {
    text-align: left;
    color: black;
    font-weight: 300;
    display: block;
    margin: 10px;
}

.footer .footerRight p a {
    text-decoration: none;
    color: black;
}

.footer .footerRight p a:hover {
    text-decoration: underline;
}

#top {
    font-weight: 800;
}
