:root {
  --primary: #fe5d37;
  --secondary: #ffefeb;
  /* make opacity 0.9 for another degree of it (or use this #ffefeb) */
  --light: #fff5f3;
  --dark: #103741;
  --secondary_text: #74787c;
  /* font for headings */

  /* font color for content text : #74787C;  */
}
* {
  color: var(--dark);
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.093), rgba(0, 0, 0, 0.093)),
    url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
}
.container {
  background-color: rgba(255, 245, 243, 0.344);
  width: 450px;
  height: 650px;
  margin: 30px auto;
  /* margin-top: 20px; */
  box-shadow: 0px 0px 15px black;
  border-radius: 15px;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}
.content {
  width: 225px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  /* border: solid black;    */
}
/* *{
    margin: 0;
    padding: 0;
} */
.icon-user {
  width: 15px;
}
.icon-pass {
  width: 15px;
}
.header {
  text-align: center;
  font-size: 75px;
  margin-top: 0;
  margin-bottom: 60px;
}
.userform {
  width: 275px;
  height: 25px;
  border-radius: 25px;
  border: solid #ae8201;
  background-color: #efefef;
  padding-left: 10px;
}
.Passform {
  width: 275px;
  height: 25px;
  border-radius: 25px;
  border: solid #ae8201;
  background-color: #efefef;
  padding-left: 10px;
}
.Login {
  cursor: pointer;
  width: 275px;
  height: 40px;
  margin-left: -27px;
  margin-top: 40px;
  border: 0px;
  border-radius: 15px;
  /* background-color: #AE8201; */
  background-color: var(--primary);
  color: white;
  font-size: 25px;
}
.Login:hover {
  /* background-color: #bfbe6b; */
  background-color: var(--primary);
}
.userfield {
  width: 300px;
  margin-left: -30px;
}
.passfield {
  width: 300px;
  margin-left: -30px;
}
.userlabel {
  width: 200px;
  margin-left: 10px;
}
.passlabel {
  width: 200px;
  margin-left: 10px;
}
.create {
  width: 200px;
  margin-left: 35px;
  /* margin-top: 30px; */
  transform: translateY(75%);
  font-size: 25px;
}
.questions {
  font-size: 20px;
  text-align: center;
  transform: translateY(170%);
}
