.navbar-container .navbar {
  top: 0;
  display: flex;
  background: var(--backgroundColor-4);
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
  box-shadow: var(--shadow-2);
  max-height: 80px;
}

.navbar-container .navbar-title {
  margin: 20px 0px;
  text-align: center;
}

.navbar-container .navbar-title a {
  color: var(--heading-textColor);
  font-family: var(--headingFont);
  font-size: 35px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container .navbar-title a img {
  height: 70px;
  width: 70px;
  padding: 0;
  margin-right: 10px;
}
.navbar-container .navbar-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar-container .navbar-links li {
  font-size: 18px;
  margin: 16px 8px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container .navbar-links li a {
  padding: 0.3em 0.8em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-textColor);
  transition: background 0.3s ease;
}

.navbar-container .navbar-links li a:hover {
  color: var(--heading-textColor);
  /* background: var(--backgroundColor-secondary); */
  cursor: pointer;
}

.footer {
  position: relative;
  background-color: var(--backgroundColor-5);
  /* border-top: 2px solid #0000004e; */
  /* box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.15), 0 -4px 20px 0 rgba(0, 0, 0, 0.1); */
  min-height: 30vh;
  width: 100%;
  margin-top: auto;
  /* bottom: 0; */
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footerLeft {
  flex: 1;
  max-width: 40%;
}

.footerRight {
  flex: 1;
  max-width: 20%;
}

.footer h4 {
  font-size: 1.7rem;
  padding: 10px;
  color: var(--primary-600);
}

.footer h6 {
  padding: 10px;
  word-spacing: 3px;
  color: var(--textColor-5);
}

.footer p {
  text-align: left;
  color: var(--secondary-textColor);
  font-weight: 400;
  display: block;
  margin: 10px;
}

.footer .footerRight p a {
  text-decoration: none;
  color: var(--secondary-textColor);
}

.footer .footerRight p a:hover {
  color: var(--primary-600);
  text-decoration: underline;
}

#top {
  font-weight: 800;
  font-size: larger;
}
/* .navbar-container .navbar-links ul :last-child {
  } */
  
#switch-themes {
  height: 50px;
  width: 50px;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--primary-600);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* top: 15px; */
  /* right: 25px; */
  border: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#switch-themes:hover {
  transform: scale(1.05);
}

#switch-themes svg {
  color: var(--white);
}
