/* Temporary */
/* body {
    height: 200vh;
} */

/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
li,
ul,
a,
p {
  margin-left: 10px;
  margin-right: 10px;
}
/* a,
p {
  font-size: 125%;
} */
.navbar-title {
  font-size: 2rem;
}
h1 {
  color: #ae8201;
  font-size: 1.5rem;
}
p,
li {
  color: black;
  font-size: 1.2rem;
}
hr {
  margin: 2px 33% 15px 10px;
  color: #d4d4d4;
}
li {
  margin: 10px 10px 10px 20px;
}
footer {
  text-align: center;
  padding: 3px;
}
.hcenter {
  margin: auto;
  width: 60%;
  padding: 10px;
  position: relative;
}
.cover-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}
.navbar-container .navbar {
  display: flex;
  background: white;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #0000004e;
  /* position: fixed; */
  width: 100%;
  z-index: 9999;
}

.navbar-container .navbar-title {
  margin: 20px 0px;
  text-align: center;
}

.navbar-container .navbar-title a {
  color: #AE8201;
  text-decoration: none;
}

.navbar-container .navbar-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar-container .navbar-links li {
  font-size: 18px;
  margin: 16px 8px;
}

.navbar-container .navbar-links li a {
  padding: 0.3em 0.8em;
  border-radius: 5px;
  text-decoration: none;
  color: #c69504c9;
  transition: background 0.3s ease;
}

.navbar-container .navbar-links li a:hover {
  color: #c69504;
  background: #d9a3029f;
}

/* Links */
a {
  background-color: transparent;
}
a:link,
a:visited {
  text-decoration: none;
}
a:link {
  color: #ae8201;
}
a:visited {
  color: #ae8201;
}
a:hover,
a:active {
  text-decoration: underline;
}
a:hover {
  color: #ebb513;
}
a:active {
  color: #ae8201;
}
.button-links {
  color: #e9e9e9;
  background-color: tomato;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}
.button-links:visited,
.button-links:hover,
.button-links:active {
  color: #e9e9e9;
  text-decoration: none;
}
.button-links:active {
  color: tomato;
  background-color: #e9e9e9;
}

/* Buttons */
button {
  border: 0.1px solid;
  border-radius: 1%;
  background-color: #e9e9e9;
}
button:hover {
  transition-duration: 0.5s;
  background-color: #d0d0d0;
}
button:active {
  transition-duration: 0.5s;
  background-color: tomato;
  color: #e9e9e9;
}
#article-title h1 {
  font-size: 2.5rem;
  font-weight: 900;
  padding-right: 10px;
  display: flex;
  align-items: center;
}
/* float: left; */
/* #article-title {
  content: "";
  display: table;
  clear: both;
} */
/* Heart Button Styles */
.fav-btn {
  background: transparent !important;
  border: none;
  cursor: pointer;
  transform: scale(1.4);
  margin: auto 20px;
  font-size: 1.5rem;
  color: #ae8201;
  transition: all 0.3s ease;
  outline: none;
}

/* Hover effect */
.fav-btn:hover {
  color: #c4960d;
  transform: scale(1.6); /* Slight grow effect */
}

/* Active (clicked) state */
/* .fav-btn.active {
      color: #ff4757;
    } */

/* Heart beat animation */
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fav-btn.active i {
  animation: heartBeat 0.5s ease;
  font-weight: 900;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  background-color: rgba(255, 239, 213, 0.436);
  box-sizing: border-box;
  border-top: 2px solid #0000004e;
  min-height: 30vh;
}
.footerLeft {
  flex: 1;
  max-width: 40%;
}

.footerRight {
  flex: 1;
  max-width: 20%;
}

.footer h4 {
  font-size: 1.7rem;
  padding: 10px;
  color: #AE8201; 
}

.footer h6 {
  padding: 10px;
  word-spacing: 3px;
}

.footer p {
  text-align: left;
  color: black;
  font-weight: 300;
  display: block;
  margin: 10px;
}

.footer .footerRight p a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  
}

.footer .footerRight p a:hover {
  text-decoration: underline;
}

#top {
  font-weight: 800;
}